@model IEnumerable<Projeto01.Models.Fabricante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Fabricantes";
}

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FabricanteID }) |
                @Html.ActionLink("Details", "Details", new { id=item.FabricanteID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FabricanteID })
            </td>
        </tr>
    }
    
    </table>
</div>
